/* =================================
   TABLET
================================= */

@media (min-width: 768px) {

    .container {
        padding-inline: var(--container-padding-tablet);
    }

}


/* =================================
   LARGE DESKTOP
================================= */

@media (min-width: 1200px) {

    /* -----------------------------
       HOME
    ----------------------------- */

    .hero-cont {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--space-4);
    }

    .hero-role {
        font-size: var(--fs-2xl);
    }

    .hero-title {
        font-size: var(--fs-3xl);
    }

    .hero-greeting {
        font-size: var(--fs-lg);
    }

    .hero-description {
        padding: var(--space-4);
        font-size: var(--fs-lg);
        text-align: center;
    }

    .hero-image img {
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1 / 1;

        object-fit: cover;
        border-radius: 50%;

        border: 3px solid var(--color-accent2);

        box-shadow:
            0 0 15px var(--color-accent2),
            0 0 30px rgba(124, 58, 237, 0.6);
    }

    /* -----------------------------
       NAVIGATION
    ----------------------------- */

    .menu-btn {
        display: none;
    }

    .nav-menu {
        position: static;

        width: auto;
        height: auto;

        padding: 0;

        background: none;

        transform: none;
    }

    .nav-links {
        flex-direction: row;
        align-items: center;

        gap: var(--space-8);
        margin: 0;
    }

    .nav-links a {
        font-size: var(--fs-md);
    }

    .close-btn {
        display: none;
    }


    /* -----------------------------
       FOOTER
    ----------------------------- */

    .footer-cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }


    /* -----------------------------
       CONTACT
    ----------------------------- */

    .contact-content {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
    }

    .contact-btn {
        align-self: center;
    }

    .contact-infor {
        width: 40%;
    }

    .contact-form {
        width: 50%;
    }


    /* -----------------------------
       ABOUT
    ----------------------------- */

    .about-img img {
        width: 100%;
        max-width: 650px;
        aspect-ratio: 1 / 1;

        object-fit: cover;
        border-radius: 50%;

        border: 3px solid var(--color-accent2);

        box-shadow:
            0 0 15px var(--color-accent2),
            0 0 30px rgba(124, 58, 237, 0.6);
    }

    #about-header {
        font-family: var(--font-code);
        font-size: var(--fs-2xl);
    }

    .section-tag {
        font-size: var(--fs-3xl);
    }

}