<footer class="footer">

    <div class="container footer-cont">

        <div class="footer-brand">

            <a href="#" class="logo">
                Tech Legends
            </a>

            <p>
                Building Modern Web Experiences.
            </p>

        </div>


        <div class="footer-social">

            <a href="#" class="social-link">
                <i class="fa-brands fa-github"></i>
            </a>

            <a href="#" class="social-link">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="#" class="social-link">
                <i class="fa-solid fa-envelope"></i>
            </a>

        </div>


        <p class="copyright">
            © 2026 Tech Legends. All Rights Reserved.
        </p>


    </div>

</footer>