<footer class="footer">

    <div class="container footer-cont">

        <div class="footer-brand">

            <a href="index.html" class="footer-logo">
                TECH LEGENDS
            </a>

            <p>
                Building Modern Web Experiences.
            </p>

        </div>


        <div class="footer-social">

            <a
                href="https://github.com/PrinceLegendsDev"
                class="social-link"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="GitHub"
            >
                <i class="fa-brands fa-github"></i>
            </a>

            <a
                href="#"
                class="social-link"
                aria-label="LinkedIn"
            >
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a
                href="mailto:princem414@gmail.com"
                class="social-link"
                aria-label="Email"
            >
                <i class="fa-solid fa-envelope"></i>
            </a>

        </div>


        <div class="footer-divider"></div>


        <p class="copyright">
            © 2026 TECH LEGENDS. All Rights Reserved.
        </p>

    </div>

</footer>