
<nav class="nav-bar">

    <div class="container nav-cont">

        <button class="menu-btn" aria-label="Open menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">

                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>

            </svg>
        </button>


        <a class="nav-logo">
            TECH LEGENDS
        </a>


        <div class="nav-menu">

            <button class="close-btn" aria-label="Close menu">
                ×
            </button>

            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="project.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li>
                    <button class="theme-btn">
                        <i class="fa-solid fa-moon"></i>
                    </button>
                </li>
            </ul>

        </div>

    </div>

</nav>